* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
h1{
    font-family: 'IBM Plex Sans', sans-serif;
}
h2{
    
    font-family: 'Catamaran', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    list-style: none;
}
.Head {
    text-align: center;
    background:black;
    color:white;
    padding:20px;
    height:700px;
    
}
.Head > img{
    height:200px;
}



img{
    border-radius: 200px;
    height:250px;
}
.introduction{
    margin:auto;
    padding:10px;
    width:50%;
    position: relative;
    top:60px;
}
#introPara{
    font-size:20px;
    letter-spacing: 1px;
}
.Head > h2{
    font-size: 40px;
}

main{
    background:white;;
    color:black;
<<<<<<< HEAD
    width:100%;
=======
>>>>>>> c6cfa9ac085eb0e45ca9df68de378aa6f455a23d
}
.Experience{
    height:550px;
    text-align: center;
    background:grey;
<<<<<<< HEAD
    margin:0;
=======

>>>>>>> c6cfa9ac085eb0e45ca9df68de378aa6f455a23d
}


.Experience > h2{
    position: relative;
    top:30px;
    font-size: 40px;
    
}
.content{
    position: relative;
    top: 25px;;
    display:flex;
    justify-content: center;
    width:900px;
    margin:auto;
}

.content div{
    padding:80px;
    
}

.content p{
    padding:10px;
    font-size: 20px;
}
.education > .content{
    position: relative;
    left:20px;
}
img{
    height:150px;
    
}

.education{
   
    height:550px;
    text-align: center;
    color:rgb(75, 75, 75);
    background: white;
    margin:auto;

}
.education > h2{
    position: relative;
    top:30px;
    font-size: 40px;
    
}
.education> #content{
    position: relative;
    right:200px;
}
.Skill{
   
    height:600px;
    text-align: center;
    
    background:grey;

}
.Skill > h2{
    position: relative;
    top:30px;
    font-size: 40px;
    
}
.Skill > ul{
    padding:80px;
   

}

.Skill{
   
    height:500px;
    text-align: center;
    color:white;
    background:black;

}
.Skill > h2{
    position: relative;
    top:30px;
    font-size: 40px;
    
}
.Skill > ul{
    padding:80px;
   

}
.Reference{
   
    height:300px;
    text-align: center;
    color: black;
    background:grey;

}
.Reference > h2{
    position: relative;
    top:30px;
    font-size: 40px;
    
}
.Reference > ul{
    padding:80px;
   

}


<<<<<<< HEAD
@media (max-width: 600px) {
   main{
       color: blue;
   }
=======
@media only screen and (max-width: 500px) {
   
>>>>>>> c6cfa9ac085eb0e45ca9df68de378aa6f455a23d
  }