* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
  }
  
  h1 {
    font-family: 'IBM Plex Sans', sans-serif;
  }
  
  h2 {
    font-family: 'Catamaran', sans-serif;
  }
  
  p {
    font-family: 'Roboto', sans-serif;
  }
  
  li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    list-style: none;
  }
  
  header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .header-content img {
    border-radius: 50%;
    height: 200px;
  }
  
  .introduction {
    margin: 50px auto;
    padding: 20px;
    width: 60%;
    background-color: #333;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .introduction p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .projects {
    height: 500px;
    text-align: center;
    color: black;
    background: #f7f7f7;
    padding: 50px 0;
  }
  
  .project-content {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .project-item {
    flex: 1;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .project-item img {
    border-radius: 5px;
    height: 150px;
    margin-bottom: 10px;
  }
  
  .links {
    display: inline-block;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background-color: #333;
    font-size: 16px;
    padding: 8px 16px;
    transition: background-color 0.3s;
  }
  
  .links:hover {
    background-color: #555;
  }
  
  .skills {
    height: auto;
    text-align: center;
    color: rgb(75, 75, 75);
    background: white;
    padding: 50px 0;
  }
  
  .skills ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 30px 0;
  }
  
  .skills li {
    font-size: 18px;
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 12px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  
  
  .education {
    height: auto;
    text-align: center;
    color: white;
    background: #333;
    padding: 50px 0;
  }
  
  .education-content {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .education-item {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
  }
  
  .education-item img {
    border-radius: 5px;
    height: 150px;
    margin-bottom: 10px;
  }
  
  .experience {
    height: auto;
    text-align: center;
    background-color: #f7f7f7;
    padding: 50px 0;
  }
  
  .experience-content {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .experience-item {
    flex: 1;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .experience-item img {
    border-radius: 5px;
    height: 150px;
    margin-bottom: 10px;
  }
  
  .future-plans {
    height: auto;
    text-align: center;
    color: rgb(75, 75, 75);
    background: white;
    padding: 50px 0;
  }
  
  .future-plans ul {
    list-style: none;
    padding: 0;
    margin: 30px 0;
  }
  
  